apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  template:
    spec:
      containers:
        - name: web
          resources:
            requests:
              cpu: "300m"
              memory: "768Mi"
            limits:
              cpu: "1"
              memory: "1536Mi"
