apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: vpa-web
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: web

  updatePolicy:
    updateMode: "Off"

  resourcePolicy:
    containerPolicies:
      - containerName: web
        controlledValues: RequestsOnly
        controlledResources:
          - cpu
          - memory
